<!DOCTYPE html>
{% load static %}

<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %} Harg {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
        
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            
            <a class="navbar-brand ps-3" href="{% url 'clientes:principal' %}">Harg</a>
            
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
            
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Pesquisa..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form action="{% url 'clientes:pedido:adicionar_carrinho' %}">
            <div class="d-flex align-items-center">
                <a href="#" class="text-decoration-none text-white">
                    <i class="fas fa-shopping-cart"></i> <span id="cart-quantity">0x</span>
                </a>
            
                <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#!">Configurações</a></li>
                            <li><a class="dropdown-item" href="{% url 'lojas:login_loja' %}">Entrar Dashboard</a></li>
                            <li><a class="dropdown-item" href="{% url 'clientes:login_cliente' %}">Login</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><a class="dropdown-item" href="{% url 'clientes:logout_cliente' %}">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">

                            <a class="nav-link" href="{% url 'clientes:principal' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                                Início
                            </a>
                            
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                                Promoções
                            </a>
                            
                            <a class="nav-link" href="#">
                                <div class="sb-nav-link-icon"><i class="fas fa-utensils"></i></div>
                                Restaurantes
                            </a>
                            
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Usuario:</div>
                        {% if user.is_authenticated %}
                            {{ user.username }}
                        {% else %}
                            Visitante
                        {% endif %}
                    </div>
                    
                </nav>


            </div>
            <div id="layoutSidenav_content">
                <main>
             <main>

                        <div class="container"> 
                            <main>
                                {% for grupo, produtos in grupos %}
                                    <h2>{{ grupo.nome }}</h2>
                                    <div class="row">
                                        {% for produto in produtos %}
                                            <div class="col-md-3">
                                                <div class="card clickable" data-produto-id="{{ produto.id }}" onclick="mostrarProduto({{ produto.id }});">


                                                    {% if produto.imagem %}
                                                        <img src="{{ produto.imagem.url }}" class="card-img-top custom-card-image" alt="{{ produto.nome }}">
                                                    {% else %}
                                                        <img src="{% static 'path/to/default/image.jpg' %}" class="card-img-top custom-card-image" alt="Sem imagem">
                                                    {% endif %}
                                                    <div class="card-body">
                                                        <h5 class="card-title">{{ produto.nome }}</h5>
                                                        <p class="card-text">{{ produto.descricao }}</p>
                                                        {% if produto.preco_promocional and produto.preco_promocional != '0' %}
                                                        <p class="card-text">
                                                            De R$
                                                            <strike>{{ produto.preco_original }}</strike> por R${{ produto.preco_promocional }}
                                                        </p>
                                                        {% else %}
                                                        R$
                                                        <p class="card-text">{{ produto.preco_original }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endfor %}

                                <div class="modal fade" id="produtoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="produtoNome">Nome do Produto</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                        
                                        <img class="card-img-top" id="produtoImagem" src="" alt="Imagem do Produto">
                                        <p id="produtoDescricao">Descrição do produto.</p>
                                        
        
                                        <div class="d-flex align-items-center">
                                            <span class="font-weight-bold mr-2">Quantidade:</span>
                                            <span id="quantidadeDisplay" class="mr-2" style="font-size: 1rem; padding: 0 5px; border: 1px solid #007bff; border-radius: 3px;">1</span> 
                                            <button id="adicionarQuantidade" class="btn btn-primary btn-sm" style="box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); padding: 0 5px;">+</button>
                                        </div>
                                        
                                        
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                        <button type="button" id="btnAdicionarAoCarrinho" class="btn btn-primary">Adicionar ao Carrinho</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                             </main>
                        </div> 
                    </main>
                    
                </main>
               
                
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'assets/demo/chart-area-demo.js' %}"></script>
        <script src="{% static 'assets/demo/chart-bar-demo.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js' %}"></script>
    </body>
</html>
